[Unit]
Description=Home server (port 8080)

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node /home-nvr-path/bin/home.js
Restart=always

WatchdogSec=43200
WorkingDirectory=/home/pi/family/node-home-nvr/

[Install]
WantedBy=multi-user.target

