[Unit]
Description=Home server (port 7070)

[Service]
Type=simple
User=pi
ExecStart=/home-nvr-path/start_motion_server.sh
Restart=always

WatchdogSec=43200
WorkingDirectory=/home-nvr-path/

[Install]
WantedBy=multi-user.target

