[Unit]
Description=Home NVR monitor

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node /home-nvr-path/bin/monitor.js
Restart=always

WatchdogSec=43200
WorkingDirectory=/home-nvr-path/

[Install]
WantedBy=multi-user.target

