[Unit]
Description=Home server (port 6060)

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/node /home-nvr-path/bin/nvr.js
Restart=always

WatchdogSec=43200
WorkingDirectory=/home-nvr-path/

[Install]
WantedBy=multi-user.target

